# git
.git
.gitignore

# python
__pycache__
*.pyo
*.pyd

# cache
.venv
.cache
.mypy_cache
.pytest_cache
.ruff_cache

# coverage
.coverage
.coverage.*
coverage.xml
*.cover

# log
*.log

# configuration
.env
*.ini
